* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.img {
    background-image: url('../img/kv.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: auto;
    background-size: cover;
    white-space: nowrap;
}

header {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100vw;
    position: fixed;
    background-color: #1A48A6;
}

.nav {
    font-size: 0.8rem;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;


}

a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    opacity: 0.5;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    margin-top: 1%;   
    padding-top: 5px;
    font-size: 2.6rem;
    

}

i{
    text-align: center;
    font-size: 2rem;
}


main {
    padding-top: 400px;
    text-align: center;
    display: flex;
    justify-content: center;

}
p{
    font-weight: normal;
}

.second-line {
    display: block;
    width: 100vw;  /* ここで幅を調整して左右に空白を作る */
    margin: 0 auto;  /* 左右中央に配置 */
    text-align: center;  /* テキストを中央揃え */
    white-space: pre-line;  /* HTMLの改行（Enter）が反映される */
    font-size: 2rem;  /* フォントサイズも調整 */
}

.info {
    padding-top: 30px;
    padding-bottom: 30px;

}

.hightlight {
    background: linear-gradient(to top, #f5b642 50%, transparent 50%);
}

.subtitle {
    font-size: 10px;
    color: red;
}

.subtitle1 {
    font-size: 10px;
    color: gray;
}

.product {
    padding-top: 40px;
}

.member {
    text-align: center;
    padding-bottom: 30px;
}


button {
    font-size: 1rem;
    background-color: white;
    width: 20vw;
    height: 4vh;
    margin: 5px;
    border: solid 0.5px;
}

.send {
    font-size: 1rem;
    background-color: whitesmoke;
    width: 20vw;
    height: 4vh;
    margin: 5px;
    border: solid gray 0.5px;
}

.txtbox {
    width: 30vw;
    height: 3vh;
    margin-bottom: 10px;
}

.textbox {
    text-align: left;
    border: solid 1px black;
    display: none;
    width: 61vw;
    height: 15vh;
    overflow: scroll;
    text-overflow: ellipsis;
    padding: 10px 10px 10px 10px;
}

label {
    display: block;
    width: 50%;
    margin-left: 25%;
}

.maintitle {
    margin-left: 20%;
    text-align: left;
}

#website:hover {
    background-color: #b3ffff;

}

#seo:hover {
    background-color: #ffdea0;

}

#app:hover {
    background-color: #a7ff99;

}

.service {
    background-color: white;

}

.service.active#website {
    background-color: #b3ffff;
    transition: 0.7s;
}

.service.active#seo {
    background-color: #ffdea0;
    transition: 0.7s;
}

.service.active#app {
    background-color: #a7ff99;
    transition: 0.7s;
}

.menu2 {
    display: none;
    
}







@media screen and (max-width: 755px) {
    .nav {
        font-size: 0.8rem;
        color: white;
        display: flex;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }

    .nav2 {
        display: flex;
    }

    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
    }

    button {
        font-size: 0.7rem;
        background-color: white;
        margin: 5px;
        width: 25vw;
        height: 5vh;
    }

    .textbox {
        width: 77vw;
    }

    label {
        margin: 0;
        width: 100%;
    }

    .txtbox {
        width: 40vw;
    }

    .maintitle{
        margin-left: 30%;
    }

    i{
        font-size: 1.8rem;
    }
    .second-line{
        white-space: normal;
        text-align: left;
    }

    
}

@media screen and (max-width: 460px) {
    .nav2 {
        display: none;
    }

    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
    }

    button {
        font-size: 0.8rem;
        background-color: white;
        margin: auto;
        width: 60vw;
        height: 5vh;
        margin-bottom: 5px;
    }

    .send {
        width: 75vw;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .textbox {
        width: 60vw;
        font-weight: normal;
    }



    label {
        margin: 0;
        width: 100%;
    }

    .txtbox {
        width: 75vw;
    }

    .maintitle {
        margin-left: 12%;
    }

    .second-line {
        font-size: 1.9rem;
        white-space: normal;
        text-align: left;
    }

    .hamberger-wrap {
        position: absolute;
        left: 85%;
    }
    
    .bar {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 7px;
        background-color: rgb(87, 193, 255);
        transition: 1s;
    }

    .hamberger-wrap.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .hamberger-wrap.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamberger-wrap.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
    
    

    .menu2 {
        display: none;
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        max-width: 600px;
    }
    
    .menu2 ul {
        padding: 0;
        margin: 0 auto;
        list-style-type: none;
        border-top: 1px solid white;
    }
    
    .menu2 li {
        
        overflow: hidden;
    }
    
    .menu2 li a {
        text-decoration: none;
        font-size: 1rem;
        display: block;
        cursor: pointer;
        background-color: #1A48A6;
        padding: 15px 0;
        border-bottom: 1px solid white;
    }

    .accordion-toggle {
        transition: all 0.3s ease;
    }

   


    

}